<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sorteos Ganados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet" />
</head>
<body style="background-color: black">
<!-- Barra navegación-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top navSize" id="nav" style="background-color: #EDDBF3;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/encuestas">ENCUESTAS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/sorteo">SORTEO</a>
            </li>
        </ul>
    </div>
</nav>

<!-- HEADER -->

<header id="header">
    <div class="container rounded" style="padding-top:70px;padding-bottom:70px; margin-top: 4%;">
        <div class="row justify-content-center" id="edge">
            <h1 class="sizedPageTitle bigTitle" style="color: white;">MIS SORTEOS</h1>
        </div>
    </div>
</header>


{#<div class="container rounded" style="padding-top:70px;padding-bottom:70px; background-color: #EDDBF3; margin-bottom: 5%">#}
    {#<div class="row justify-content-center" id="edge">#}
        {#<a href="https://www.opositatest.com/"></a>#}
    {#</div>#}
    {#<div class="row text-center justify-content-center">#}
        {#<h1 class="sizedPageTitle"><b>MIS DATOS</b></h1>#}
    {#</div>#}
{#</div>#}

<div class="container rounded" style="padding-top:70px;padding-bottom:70px; background-color: #EDDBF3; margin-bottom: 5%">
    <div class="row justify-content-center" id="edge">
        <a href="https://www.opositatest.com/"></a>
    </div>
    <div class="row text-center justify-content-center">
        <h1 class="sizedPageTitle"><b>HAS PARTICIPADO EN {{ sorteos|length }} SORTEOS</b></h1>
    </div>

    {% for sorteo in sorteos | reverse %}
        {% if ganados|length > 0 %}
            {%  for ganado in ganados %}
                {% if sorteo.ganador %}
                    {% if ganado.ganador.id == sorteo.ganador.id %}
                        <div class="row">
                            <div class="col-sm-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action text-dark text-center" style="background-color: chartreuse">
                                        SORTEO {{ sorteo.id }}
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action" disabled>Premio: {{ sorteo.premio }}</button>
                                    <button type="button" class="list-group-item list-group-item-action" disabled>Fecha: {{ sorteo.fecha|date('d/m/Y') }}</button>
                                    <button type="button" class="list-group-item list-group-item-action">Resultado: GANADO</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                            <div class="list-group">
                                <button type="button" class="list-group-item list-group-item-action text-dark text-center" style="background-color: red">
                                    SORTEO {{ sorteo.id }}
                                </button>
                                <button type="button" class="list-group-item list-group-item-action" disabled>Premio: {{ sorteo.premio }}</button>
                                <button type="button" class="list-group-item list-group-item-action" disabled>Fecha: {{ sorteo.fecha|date('d/m/Y') }}</button>
                                <button type="button" class="list-group-item list-group-item-action">Resultado: PERDIDO</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {%  endfor %}
        {% else %}
            <div class="row">
                <div class="col-sm-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action text-dark text-center" style="background-color: red">
                            SORTEO {{ sorteo.id }}
                        </button>
                        <button type="button" class="list-group-item list-group-item-action" disabled>Premio: {{ sorteo.premio }}</button>
                        <button type="button" class="list-group-item list-group-item-action" disabled>Fecha: {{ sorteo.fecha|date('d/m/Y') }}</button>
                        <button type="button" class="list-group-item list-group-item-action">Resultado: PERDIDO</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>

<!-- Footer-->
<footer>
    <div class="container-fluid text-center">
        <p>2018&copy; Pablo García Saleta | Todos los derechos reservados</p>
    </div>
</footer>
</body>
</html>