{% extends 'base.html.twig' %}

 {% block title %}Login a Sorteos Ganados{% endblock title %}

    {% block stylesheets %}
        <link href="{{ asset('css/loginStyles.css') }}" rel="stylesheet" />
        {{ parent() }}
    {% endblock %}

    {% block body_content %}
        <div class="row justify-content-center text-center" id="edge" style="padding-bottom:70px; padding-top: 5%; color: white">
            <h1 class="sizedPageTitle">ACCESO A MIS SORTEOS</h1>
        </div>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="container container-responsive rounded" style="margin-bottom: 5%; padding: 2%; color: black;">
            <div class="row justify-content-center text-center" style="padding-bottom: 3%;">
                <div class="col-sm-2 offset-sm-1 justify-content-sm-center text-sm-left">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-sm-6 justify-content-sm-center text-sm-left">
                    {% if erroru is defined %}
                        {{ form_widget(form.email, {'attr': {'data-toggle': 'tooltip', "title": "Usuario incorrecto", "class": "input-error"}}) }}
                    {% else %}
                        {{ form_widget(form.email) }}
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center text-center" style="padding-bottom: 5%">
                <div class="col-sm-2 offset-sm-1 justify-content-sm-center text-sm-left">
                    {{ form_label(form.password) }}
                </div>
                <div class="col-sm-6 justify-content-sm-center text-sm-left">
                    {% if errorc is defined %}
                        {{ form_widget(form.password, {'attr': {'data-toggle': 'tooltip', "title": "Contraseña incorrecta", "class": "input-error"}}) }}
                    {% else %}
                        {{ form_widget(form.password) }}
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center text-center">
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
                <a href="/home/sorteo" style="padding-left: 5%"><input type="button" class="btn btn-warning" value="Cancelar"></a>
            </div>

            {{ form_end(form) }}
        </div>
    {% endblock %}

    {%  block javaScript %}
        <script src="{{ asset('js/loginJS.js') }}"></script>
    {% endblock %}
