<!DOCTYPE html>
<html lang="en">

<head>
    <title>IdentificaTest encuesta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet" />
</head>

<body style="background-color: black; color: white">
<script>
    var min = {{ min }};
    var max = {{ max }};
</script>

<!-- Barra navegación-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top navSize" id="nav" style="background-color: #EDDBF3;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/encuestas">ENCUESTAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/sorteo">SORTEO</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container justify-content-center text-center" style="padding-top:150px;padding-bottom:70px;">

        <div class="row justify-content-center text-center" id="edge" STYLE="padding-bottom:70px">
            <h1>ENCUESTAS DE IDENTIFICATEST</h1>
        </div>
        <div class="container rounded" id="contenedor" style="background-color: #EDDBF3; padding-top:70px;padding-bottom:70px; color: black">
            {% for encuesta in encuestas %}
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="row justify-content-center">
                            <h1 id="h1po">{{ encuesta.title }}</h1>
                        </div>
                        <div class="row justify-content-center" id="portfolio">
                            <a href="/home/encuesta/{{ encuesta.id }}"><img src={{ encuesta.img }} id="imgPort"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container" id="paginador">
        <ul class="pagination justify-content-center" id="menu">
            <li class="page-item"><input type="button" class="page-link" onclick="previous()" id="prev" value="Anterior"></li>
            <li class="page-item"><input type="button" class="page-link" onclick="next()" id="next" value="Siguiente"></li>
        </ul>
    </div>

<script>
    function previous(){
        if (min === 1) {
            //showMessage("primera");
            $("#prev").disabled = "disabled";
        } else {
            var data = {"min": min - 3, "max": max - 3};
            $.ajax({
                data:  data, //datos que se envian a traves de ajax
                url:   '/home/encuestas/next-prev', //archivo que recibe la peticion
                type:  'get', //método de envio
                beforeSend: function () {
                    console.log("Procesando, espere por favor...");
                },
                success:  function (np_encuestas) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                    cambiar(np_encuestas);
                }
            });
        }
    }

    function next(){
        if (max === {{ size }}) {
            console.log("se esta mostrando la ultima");
            console.log("ey");
        } else {
            var data = {"min": min + 3, "max": max + 3};
            $.ajax({
                data:  data, //datos que se envian a traves de ajax
                url:   '/home/encuestas/next-prev', //archivo que recibe la peticion
                type:  'get', //método de envio
                beforeSend: function () {
                    console.log("Procesando, espere por favor...");
                },
                success:  function (np_encuestas) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                    cambiar(np_encuestas);
                }
            });
        }
    }

    function showMessage($message) {
        alert("Se está mostrando la " + $message + " página");
    }

    function cambiar(np_encuestas){
        $contenedor = $("#contenedor");
        $contenedor.empty();

        $encuestas2 = JSON.parse(np_encuestas);

        for (var i = 0; i < $encuestas2.length; i++){
            var row = document.createElement("div");
            row.setAttribute("class", "row justify-content-center");

            var col = document.createElement("div");
            col.setAttribute("class", "col-sm-6");

            var row2 = document.createElement("div");
            row2.setAttribute("class", "row justify-content-center");

            var h1 = document.createElement("h1");
            h1.setAttribute("id", "h1po");
            h1.innerText = $encuestas2[i].title;

            var row2_1 = document.createElement("div");
            row2_1.setAttribute("class", "row justify-content-center");
            row2_1.setAttribute("id", "portfolio");

            var a = document.createElement("a");
            a.setAttribute("href", "/home/encuesta/" + $encuestas2[i].id);
            a.setAttribute("id", "imgPort");


            var img = document.createElement("img");
            img.setAttribute("src", $encuestas2[i].img);
            img.setAttribute("id", "imgPort");

            //appends
            $(row).hide().appendTo($contenedor).fadeIn(1000);
            $(col).hide().appendTo(row).fadeIn(1000);
            $(row2).hide().appendTo(col).fadeIn(1000);
            $(h1).hide().appendTo(row2).fadeIn(1000);
            $(row2_1).hide().appendTo(col).fadeIn(1000);
            $(a).hide().appendTo(row2_1).fadeIn(1000);
            $(img).hide().appendTo(a).fadeIn(1000);
        }

        min = $encuestas2[0].id;
        max = $encuestas2[$encuestas2.length -1].id;

        if (max === {{ size }}) {
            console.log("se esta mostrando la ultima");
            console.log("ey");
        } else if (min === 1) {
            console.log("se esta mostrando la primera");
            // $("#prev").attr("onclick", "showMessage('primera')");
        }
    }

</script>

<!-- Footer-->
<footer>
    <div class="container-fluid text-center">
        <p>2018&copy; Pablo García Saleta. Todos los derechos reservados. | <a href="" target="_blank">Compártenos</a></p>
    </div>
</footer>
</body>
</html>