<!DOCTYPE html>
<html lang="en">

<head>
    <title>IdentificaTest encuesta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/icons.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet" />
</head>
<body style="background-color: black">
<script>
    var min = {{ min }};
    var max = {{ max }};
    $(document).ready(function () {
        $("#prev").hide();
    });
</script>
<!-- Barra navegación-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top navSize" id="nav" style="background-color: #EDDBF3;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/encuestas">ENCUESTAS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/sorteo">SORTEO</a>
            </li>
        </ul>
    </div>
</nav>

<!-- modal box to subscription-->

<div class="modal fade" id="unirseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center text-center" style="background-color:  #EDDBF3;">
                <h3 class="modal-title">UNIRSE GRATIS AL SORTEO</h3>
            </div>
            <div class="modal-body justify-content-center text-center" style="background-color: #EDDBF3">
                <h6>Para poder participar en el sorteo debes <b>cubrir una encuesta</b>, y un usuario solo puede participar <b>una vez</b>.</h6>
            </div>
            <div class="modal-footer justify-content-center" style="background-color:  #EDDBF3">
                <a href="/home/encuesta/1"><button type="button" class="btn btn-success">Realizar encuesta</button></a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal box to borrarse-->

<div class="modal fade" id="borrarseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center text-center" style="background-color:  #EDDBF3;">
                <h3 class="modal-title">¿QUIERES BORRARTE DEL SORTEO?</h3>
            </div>
            <div class="modal-body justify-content-center text-center" style="background-color: #EDDBF3">
                <form action="">
                    <div class="row justify-content-center text-center">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="pwd">Contaseña:</label>
                                <input type="password" class="form-control" id="pwd" name="pwd">
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <label><input type="checkbox" name="validate">Validar</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center" style="background-color:  #EDDBF3">
                <a href="#"><button type="button" class="btn btn-success">Borrarse</button></a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- HEADER -->

<header id="header">
    <div class="container rounded" style="padding-top:70px;padding-bottom:70px; background-color: #EDDBF3; margin-top: 7%">
        <div class="row justify-content-center" id="edge">
            <a href="https://www.opositatest.com/"></a>
        </div>
        <div class="row text-center justify-content-center" style="padding-bottom: 20px">
            <h1 class="sizedPageTitle"><b>¡BIENVENIDO AL SORTEO DE IDENTIFICATEST!</b></h1>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-sm-6 col-10 justify-content-center text-center">
                <h6>Este sorteo es totalmente gratuito y opcional. El requisito para poder participar es únicamente realizar al menos una encuesta.
                    Se realizará el sorteo una vez haya 50 participantes inscritos.
                    Si estas deseando saber si te ha tocado o no, avisa a un amigo y asi lo sabrás antes!</h6>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 5%">
            <div class="col-9 text-left" style="margin-bottom: 50px">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action text-dark text-center" style="background-color: chartreuse">
                        SORTEO ACTUAL ( {{ actual.id }} )
                    </button>
                    <button type="button" class="list-group-item list-group-item-action"><b>PREMIO:</b> {{ actual.premio }}</button>
                    <button type="button" class="list-group-item list-group-item-action"><b>PARTICIPANTES:</b> 50</button>
                    <button type="button" class="list-group-item list-group-item-action"><b>FECHA:</b> {{ actual.fecha|date('Y-m-d') }}</button>
                    <button type="button" class="list-group-item list-group-item-action"><b>GANADOR:</b> Pendiente</button>
                </div>
            </div>
        </div>
        <div class="row text-center justify-content-center" style="padding-bottom: 20px">
            <div class="col-sm-5 unirse-pos" style="padding-bottom: 10px">
                <input type="button" class="btn btn-success" value="Unirse" data-target="#unirseModal" data-toggle="modal">
            </div>
            <div class="col-sm-6 borrarse-pos">
                <input type="button" class="btn btn-warning" value="Dejar de participar" data-target="#borrarseModal" data-toggle="modal">
            </div>
        </div>
    </div>
</header>


<!-- 3ª Sección (Sección del sorteo) -->
<section>
    <div class="container rounded" id="contenedor" style="padding-top:70px;padding-bottom:70px; background-color: #EDDBF3; margin-top: 7%; margin-bottom: 1%">
        <div class="row justify-content-center" style="padding-bottom: 3%">
            <h3 class="sizedPageTitle">HISTORIAL DE SORTEOS</h3>
        </div>
        {% for sorteo in historial %}
        <div class="row">
            <div class="col-sm-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action bg-warning text-dark text-center">
                        SORTEO {{ sorteo.id }}
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Premio: {{ sorteo.premio }}</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Participantes: 50</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Fecha: {{ sorteo.fecha|date('Y-m-d') }}</button>
                    <button type="button" class="list-group-item list-group-item-action">Ganador: {{ sorteo.ganador }}</button>
                    {{ dump(sorteo.ganador) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container" id="paginador">
        <div class="row">
            <div class="col-sm-10 col-6">
                <ul class="pagination" id="menu">
                    <li class="page-item"><input type="button" class="page-link" onclick="previous()" id="prev" value="Anterior"></li>
                </ul>
            </div>
            <div class="col-sm-2 col-6">
                <ul class="pagination ul-pos" id="menu">
                    <li class="page-item"><input type="button" class="page-link" onclick="next()" id="next" value="Siguiente"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer>
    <div class="container-fluid text-center">
        <p>2018&copy; Pablo García Saleta | Todos los derechos reservados</p>
    </div>
</footer>

<script>
    //funciones para la paginacion del historial
    function previous(){
        if (min === 1) {
            $("#next").hide();
        } else {
            $("#prev").fadeIn(1000);
            var data = {"min": min + 4, "max": max + 4};
            $.ajax({
                data:  data, //datos que se envian a traves de ajax
                url:   '/home/sorteo/historial', //archivo que recibe la peticion
                type:  'get', //método de envio
                beforeSend: function () {
                    console.log("Procesando, espere por favor...");
                },
                success:  function (np_sorteos) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                    cambiar(np_sorteos);
                }
            });
        }
    }

    function next(){
        if (min === max) {
            max = max -1;
            min = min -4;
        }
        var data = {"min": min - 4, "max": max - 4};
        $.ajax({
            data:  data, //datos que se envian a traves de ajax
            url:   '/home/sorteo/historial', //archivo que recibe la peticion
            type:  'get', //método de envio
            beforeSend: function () {
                console.log("Procesando, espere por favor...");
            },
            success:  function (np_sorteos) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                cambiar(np_sorteos);
            }
        });
    }

    function cambiar(np_sorteos){
        $contenedor = $("#contenedor");
        $contenedor.empty();

        $sorteos2 = JSON.parse(np_sorteos);


        var divT = document.createElement("div");
        divT.setAttribute("class", "row justify-content-center");
        divT.setAttribute("style", "padding-bottom: 3%");

        var h3T = document.createElement("h3");
        h3T.setAttribute("class", "sizedPageTitle");
        h3T.innerText = "HISTORIAL DE SORTEOS";

        //appends titulo
        $(divT).hide().appendTo($contenedor).fadeIn(1000);
        $(h3T).hide().appendTo(divT).fadeIn(1000);

        for (var i = 0; i < $sorteos2.length; i++){

            //sorteos
            var row = document.createElement("div");
            row.setAttribute("class", "row justify-content-center");

            var col = document.createElement("div");
            col.setAttribute("class", "col-sm-6 text-left");
            col.setAttribute("style", "margin-bottom: 50px");

            var div = document.createElement("div");
            div.setAttribute("class", "list-group");

            var b1 = document.createElement("button");
            b1.setAttribute("type", "button");
            b1.setAttribute("class", "list-group-item list-group-item-action bg-warning text-dark text-center");
            b1.innerHTML = "SORTEO " + $sorteos2[i].id;

            var b2 = document.createElement("button");
            b2.setAttribute("type", "button");
            b2.setAttribute("class", "list-group-item list-group-item-action");
            b2.innerHTML = "Premio: " + $sorteos2[i].premio;

            var b3 = document.createElement("button");
            b3.setAttribute("type", "button");
            b3.setAttribute("class", "list-group-item list-group-item-action");
            b3.value = "Participantes: 50";

            var b4 = document.createElement("button");
            b4.setAttribute("type", "button");
            b4.setAttribute("class", "list-group-item list-group-item-action");
            b4.innerHTML = "Fecha: ";

            console.log($sorteos2[i].fecha.toString());
            console.log($sorteos2[i].fecha);


            var b5 = document.createElement("button");
            b5.setAttribute("type", "button");
            b5.setAttribute("class", "list-group-item list-group-item-action");
            b5.innerHTML = "Ganador: " + $sorteos2[i].ganador;



            //appends encuestas
            $(row).hide().appendTo($("#contenedor")).fadeIn(1000);
            $(col).hide().appendTo(row).fadeIn(1000);
            $(div).hide().appendTo(col).fadeIn(1000);
            $(b1).hide().appendTo(div).fadeIn(1000);
            $(b2).hide().appendTo(div).fadeIn(1000);
            $(b3).hide().appendTo(div).fadeIn(1000);
            $(b4).hide().appendTo(div).fadeIn(1000);
            $(b5).hide().appendTo(div).fadeIn(1000);
        }

        /*<div class="row">
            <div class="col-sm-6 offset-sm-3 text-left" style="margin-bottom: 50px">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action bg-warning text-dark text-center">
                        SORTEO
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Premio:</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Participantes: 50</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Fecha: </button>
                    <button type="button" class="list-group-item list-group-item-action">Ganador: </button>
                </div>
            </div>
        </div>*/

        min = $sorteos2[0].id;
        max = $sorteos2[$sorteos2.length -1].id;

        if (max === {{ size }}) {
            console.log("se esta mostrando el ultimo");
            $("#next").hide();
        } else {
            $("#next").fadeIn(1000);
        }
        if (min === 1) {
            console.log("se esta mostrando el primero");
            $("#prev").hide();
        } else {
            $("#prev").fadeIn(1000);
        }
    }
</script>
</body>
</html>